@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 0; /* black for high contrast */
    --foreground: 255 255 255; /* pure white */
    --muted: 180 180 180; /* light gray for better contrast */
    --accent: 0 122 255; /* blue color (hex: #007AFF) */
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .custom-bg {
    @apply bg-background/20 border border-accent/30 border-solid;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}
